@import url("https://fonts.googleapis.com/css?family=Overpass");

* {
  font-family: "Overpass", sans-serif;
}

html {
  font-size: 62.5%;
}
@media (max-width: 90rem) {
  html {
    font-size: 55.5%;
  }
}

body {
  font-size: 1.6rem;
}

text {
  font-size: 1.2rem;
}

.axis path,
.axis line,
.gridline line {
  fill: none;
  opacity: 0.1;
  shape-rendering: crispEdges;
}

.lineDots {
  cursor: pointer;
  fill: rgb(164, 140, 140);
  fill-opacity: 0.5;
  stroke: #17ead9;
  stroke-opacity: 0.4;
  transition: all 0.2s ease-in-out;
}

.lineDots:hover {
  fill-opacity: 1;
  stroke-width: 10px;
}

path.domain {
  fill: none;
  opacity: 0.4;
}

/* .d3-tip-fix {
  width: 100px;
  height: 100px;
  fill: rgba(255, 0, 0, 0.173);
} */

.d3-tip {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 1rem;
  border-radius: 2rem;
}

.strong {
  font-size: 1.1rem;
}

.span-tip {
  color: rgb(250, 13, 13);
  font-size: 1rem;
}

.row {
  margin: 0;
  display: flex;
  justify-content: center;
}

#reset-button,
#play-button,
#slider-div {
  float: left;
  margin-right: 1rem;
  width: 10rem;
  height: 5rem;
  font-size: 1.7rem;
}

#slider-div {
  margin-top: 2rem;
  width: 23rem;
}

#reset-button,
#play-button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#continent-select {
  width: 17rem;
  float: right;
  height: 3rem;
  margin-top: 1.3rem;
  font-size: 1.6rem;
}

.year {
  font-size: 2.2rem;
  text-anchor: middle;
}

.main-container path:hover {
  cursor: pointer;
}

.Label {
  font-size: 1.4rem;
  text-anchor: middle;
  fill: rgb(140, 84, 84);
}

@media (max-width: 1488px) {
  .media {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

@media (min-width: 1489px) {
  .world-map {
    justify-content: flex-end !important;
  }

  body {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}
